bcrypt>=3.2
bleach>=5.0
boto3>=1.20
celery>=5.2
cryptography>=35.0
django-filter
django-storages
django>=4.0
djangorestframework-simplejwt
djangorestframework-xml
drf-yasg
gunicorn
httplib2>=0.20
jwt>=1.3.0
markdown>=3.3.6
mock>=4.0
oauthlib>=3.2
packaging>=21.0
pyformatting
python-dateutil>=2.8
redis>=4.1
requests>=2.26
ruamel.yaml>=0.17.20
sendgrid
sentry_sdk>=1.5
setproctitle
six
textblob
toml>=0.10.0
urllib3>=1.26
webpreview>=1.6
wheel

